#container {
  background-color:rgb(6, 8, 126);
}
nav li {
  font-family: 'Open Sans', sans-serif;
  list-style-type: none;
  margin: 10px;
  opacity: 0.9;
  letter-spacing: .5px;
  transition: all .5s ease-in-out;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
nav li::before {
  content: "";
  position: absolute;
  height: 1.5px;
  background-color: white;
  bottom:0;
  margin-bottom: 8px;
  margin-left: -2px;
  width:0%;
  transition: all .5s ease-in-out 0s;
}
nav li:hover {
opacity:1;
letter-spacing: 1.5px;
}
nav li:nth-child(1):hover::before {
  width:3.4em;
}
nav li:nth-child(2):hover::before {
  width:4.3em;
}
nav li:nth-child(3):hover::before {
  width:4.7em;
}
nav {
  background-color:rgb(14, 17, 15);
  position: absolute;
  top: 0;
  z-index:999;
  width: 100%;
}
h2 {
  text-align: center;
}
#intro p {
  font-family:'Open Sans', sans-serif;
  text-shadow: .5px .5px black;
  color: white;
}
#intro i {
  color: white;
  font-size: 40px;
  transition: all .5s ease-out;
}
#linkedin:hover,#twitter:hover {
  color: rgb(56, 103, 233);
}
#github:hover {
  color: rgb(149, 98, 243);
}
#facebook:hover {
  color: blue
}
#intro i:active {
  margin-top: 3px;
}
#intro-phrase {
  font-size: 30px;
}

#about-btn {
  border: none;
  outline:none;
  border-radius: 10px;
  background-color:rgb(27, 40, 221);
  opacity:0.9;
  transition: .5s all ease-out;
}
#about-btn a {
  font-family: 'Roboto Mono', monospace;
  text-decoration: none;
  color:  rgb(252, 252, 252);
  font-weight: 450;
  letter-spacing: 1px;
  font-size:17px;
  transition: .5s all ease-out;
}
#about-btn:hover ,#about-btn a:hover {
  font-size:19px;
  letter-spacing: 2px;
  opacity:1;
  background-color:rgb(30, 142, 235);
}
.background-img {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.315), rgba(0, 0, 0, 0.247)), url("https://cdn.trendhunterstatic.com/thumbs/cool-backgrounds.jpeg");
  background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
height: 600px;
width: 100%;
}

#about {
  background-color: rgb(235, 235, 235);
  padding: 20px;
  font-size: 22x;
  border-radius: 0px 0px 20px 20px;
}
#me p {
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
  line-height: 1.5;
  font-weight: 450;
}
#me h2,#skill-art h2 {
  text-decoration: underline;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
  font-weight: 550;
}
#me img {
 height: 11em;
 width: 11em;
 border-radius: 50%;
 shape-outside: circle(); 
}
#skill-list {
  font-family: 'Roboto Mono', monospace;
  list-style-type: none;
  letter-spacing: .5px;
  font-size: 20px;
}
#skill-list i {
  font-size: 30px;
}
#img-div {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding:-15px;
  background-position: center;
  background-size: cover; 
  border-radius: 10px;
  border: 1px solid black;
  transition: box-shadow 1s;
}

#img-div:hover{
  box-shadow:inset 0 0 0 2000px rgba(5, 0, 15, 0.8);
}
#projects h2 {
  letter-spacing: 2px;
  font-weight: 500;
  font-family: 'Roboto Mono', monospace;
  color: white;
}
.project-title {
  font-family: 'Roboto Mono', monospace;
  font-weight: 450;
  letter-spacing: 1px;
  font-size: 25px;
  color: white;
  text-shadow: 1px 1px black;
}
#project-info p {
  font-family: 'Roboto Mono', monospace;
  font-weight: 450;
  text-shadow: 1px 1px black;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 1px;
  font-size: 17px;
  color: white;
}
#spring,#jquery {
  width: 2em;
  height: 2em;
}
 
#project-info button {
  border: none;
  outline:none;
  font-family: 'Roboto Mono', monospace;
  margin-left: 5px;
  text-decoration: none;
  padding: 10px 15px;
  color:  rgb(252, 252, 252);
  font-weight: 450;
  letter-spacing: 1px;
  font-size:16px;
  width: 100%;
  margin-bottom: 1em;
  transition: .5s all ease-out;
  border-radius: 10px;
  border: none;
  background-color:rgb(27, 40, 221);
  opacity:0.9;
  transition: .5s all ease-out;
}

  

#project-info button:hover {
  font-size:17px;
  letter-spacing: 2px;
  opacity:1;
  background-color:rgb(30, 142, 235);
}
#contact {
 padding: 15px;
 margin-top: 15px;
}
#contact p {
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 1px;
  font-weight: 450;
  text-shadow: 1px 1px black;
  display:block;
font-size: 18px;
color: white;
}


#resume {
  padding: 10px;
  border:none;
  outline: none;
  text-shadow: 1px 1px black;
  cursor: pointer;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 16px;
  background-color: red;
  color: white;
  transition: 1s all ease-out;
}
#resume:hover {
  background-color: orange;
}